@import "../app/variables";

.performance-picker {
  width: 100%;
  position: relative;

  h2 {
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .performance-preview {
    float: none;
    width: 50%;
    padding: 15px 65px;
    display: inline-block;
  }

  .performance-picker-frame {
    width: 50%;
    height: 270px;
    display: inline-block;
    position: absolute;
    padding: 15px;
    padding-right: 35px;

    select {
      float: right;
    }

    pre {
      color: $reddish-gray;
      position: absolute;
      right: 35px;
      bottom: 20px;

      text-align: right;
    }

  }

  select {
    background-image: url(http://i62.tinypic.com/15xvbd5.png);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid $reddish-gray;
    color: $reddish-gray;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }
}
