@import "../app/app";

.seating-section {
  table {
    float: left;
  }

  padding-left: 50px;
}

.seat {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.available {
  background-color: $light_pink;
}

.available:hover, .selected {
  background-color: $dark-pink;
}

.unavailable {
  background-color: $medium-gray;
}

.null-seat {
  background-color: transparent;
}

.tickets-list {
  float:right;
}
