@import "../app/app";

.seat-picker {
  text-align: center;
  position: relative;
  width: 100%;

  h2 {
    padding: 0 20px;
    padding-bottom: 30px;
    font-size:  20px;
    cursor: pointer;
    display: inline-block;
  }
}

.seating-section {
  display: inline-flex;
  flex-direction: column;
  align-self: center;

  table {
    float: left;
  }

  .stage {
    width: 100%;
    border: 1px solid $dark-gray;
    border-bottom: none;
    margin: 40px 0;
    padding: 15px 0;
    text-align: center;
    display: none;
  }

  .seat-blocks {
    display: none;
  }

  .stage.selected-section {
    display: block;
  }

  .seat-blocks.selected-section {
    display: inline-block;
  }
}

.seat {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s;
}

.available {
  background-color: $light_pink;
}

.available:hover, .selected {
  background-color: $dark-pink;
}

.unavailable {
  background-color: $light-gray;
  cursor: default;
}

.null-seat {
  background-color: transparent;
}

.tickets-string {
  position: absolute;
  bottom: 70px;
  width: 100%;
}
