@import "../app/app";

.seat-picker {
  text-align: center;
  position: relative;
  width: 100%;
}

.seating-section {
  display: inline-flex;
  flex-direction: column;
  align-self: center;

  h2 {
    padding-bottom: 30px;
    font-size:  20px;
  }

  table {
    float: left;
  }
}

.seat {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s;
}

.available {
  background-color: $light_pink;
}

.available:hover, .selected {
  background-color: $dark-pink;
}

.unavailable {
  background-color: $light-gray;
  cursor: default;
}

.null-seat {
  background-color: transparent;
}

.seat-blocks {
  display: inline-block;
}

.tickets-string {
  position: absolute;
  bottom: 70px;
  width: 100%;
}

.stage {
  width: 100%;
  border: 1px solid $dark-gray;
  border-bottom: none;
  margin: 40px 0;
  padding: 15px 0;
  text-align: center;
}
