// COLORS
$dark-gray:    #2a282b;
$reddish-gray: #4e3c3e;
$medium-gray:  #929292;
$light-gray:   #b5b5b5;
$dark-pink:    #d94f5c;
$light-pink:   #f48b95;


// RESET

html, body, section, article, header, footer, h1, h2, h3, h4,
h5, h6, p, a, ul, li, button, img, div {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  font-family: 'Lato', sans-serif;

  background: transparent;

  cursor: default;
  box-sizing: border-box;
}

button:focus, input {
  outline: none;
}

// CLEARFIX

.group:after {
  display: block;
  clear: both;
  content: "";
}

html, body, #root {
  height: 100%;
}

li {
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header, footer {
  color: $medium-gray;
  background: $dark-gray;
  font-size: 16px;
  display: flex;
  align-items: center;
}

header {
  height: 70px;

  nav a {
    padding: 0 10px;
    border-right: 1px solid $medium-gray;
  }

  nav a:last-child {
    border-right: none;
  }
}

.logo {
  padding: 0 10px;
}

.user-nav {
  margin-left: auto;
}

.content {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

footer {
  justify-content: space-around;
  height: 30px;
}

.sidebar {
  background: $dark-pink;
  width: 300px;
  min-width: 300px;
  padding: 25px;
  position: relative;
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border: 1px solid $dark-gray;
  background: white;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
}

.carousel-enter {
  transform:   translate(100%,0);
  transform: translate3d(100%,0,0);
  position: absolute;
  width: 100%;
}

.carousel-enter.carousel-enter-active {
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  position: absolute;
  width: 100%;
}

.carousel-leave {
	transform: translate(0,0,0);
	transform: translate3d(0,0,0);
	transition-property: transform;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
  position: absolute;
  width: 100%;
}

.carousel-leave.carousel-leave-active {
	transform:   translate(-100%,0);
	transform: translate3d(-100%,0,0);
  position: absolute;
  width: 100%;
}
