@import "../app/app";

.header nav {
  display: flex;
  justify-content: space-between;
}

.header nav:not(.user-nav) {
  width: 220px;
  padding-left: 20px;
}

.header {
  .menu-item {
  	position: relative;
  	-webkit-transition: color .25s;
  	transition: color .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .menu-item a {
  	position: relative;
    padding: 8px;
    margin: none;
  }

  .menu-item:hover {
  	color: $dark-pink;
    -webkit-transition: color .25s;
    transition: color .25s;
  }

  .menu-item::before,
  .menu-item::after,
  .menu-item a::before,
  .menu-item a::after {
  	position: absolute;
  	display: block;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	border: 2px solid $dark-pink;
  }

  .menu-item::before {
  	border-width: 0 0 0 2px;
  	-webkit-transform-origin: left bottom;
  	transform-origin: left bottom;
  }

  .menu-item::after {
  	border-width: 0 2px 0 0;
  	-webkit-transform-origin: right top;
  	transform-origin: right top;
  }

  .menu-item a::before,
  .menu-item a::after {
  	z-index: 2;
  }

  .menu-item a::before {
  	border-width: 2px 0 0;
  	-webkit-transform-origin: left top;
  	transform-origin: left top;
  }

  .menu-item a::after {
  	border-width: 0 0 2px;
  	-webkit-transform-origin: right bottom;
  	transform-origin: right bottom;
  }

  .menu-item:hover::before,
  .menu-item:hover::after,
  .menu-item:hover a::before,
  .menu-item:hover a::after {
    content: '';
  	-webkit-animation: horatio-anim .6s ease-in-out;
  	animation: horatio-anim .6s ease-in-out;
  }

  .menu-item:hover::before {
  	-webkit-animation-delay: -.45s;
  	animation-delay: -.45s;
  }

  .menu-item:hover a::before {
  	-webkit-animation-delay: -.3s;
  	animation-delay: -.3s;
  }

  .menu-item:hover::after {
  	-webkit-animation-delay: -.15s;
  	animation-delay: -.15s;
  }

  .menu-item:hover a::after {
  	-webkit-animation-delay: 0;
  	animation-delay: 0;
  }

  @-webkit-keyframes horatio-anim {
  	0%, 33% {
  		opacity: 0;
  		-webkit-transform: rotate(45deg) scale(1.5);
  		transform: rotate(45deg) scale(1.5);
  	}

  	100% {
  		opacity: 1;
  		-webkit-transform: none;
  		transform: none;
  	}
  }

  @keyframes horatio-anim {
  	0%, 33% {
  		opacity: 0;
  		-webkit-transform: rotate(45deg) scale(1.5);
  		transform: rotate(45deg) scale(1.5);
  	}

  	100% {
  		opacity: 1;
  		-webkit-transform: none;
  		transform: none;
  	}
  }
}
