@import "../app/app";

.splash {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.jumbotron {
  width: 100%;
  height: 700px;
  background: url(http://res.cloudinary.com/bencalabrese/image/upload/v1462382197/splash_page/splash.jpg);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  position: relative;
}

.site-description {
  width: 840px;
  padding: 30px;

  h2 {
    font-size: 24px;
  }
}

.jumbotron-tag {
  position: relative;
  top: 400px;
  color: white;

  img {
    width: 400px;
  }

  h3 {
    font-size: 20px;
    padding-bottom: 15px;
  }

  a {
    width: 200px;
    padding: 10px;
    background-color: white;
    color: black;
    display: inline-block;
    transition: color 0.5s, background-color 0.5s;
  }

  a:hover {
    background-color: $dark-pink;
    color: white;
    transition: color 0.5s, background-color 0.5s;
  }
}

.splash-spectacles-index {
  width: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  .button {
    background: white;
    border: 2px solid $dark-pink;
    color: $dark-pink;
    transition: color 0.5s, background 0.5s;
    padding: 10px 20px;
    font-size: 20px;
  }

  h5, .button:hover {
    color: white;
    padding: 10px 20px;
    background: $dark-pink;
    font-size: 20px;
    transition: color 0.5s, background 0.5s;
  }

  a:not(.button) {
    margin-left: auto;
    color: $medium-gray;
    transition: text-decoration 0.5s;
  }

  a:not(.button):hover {
    text-decoration: underline;
    transition: text-decoration 0.5s;
  }

  .coming-up {
    width: 780px;
    border-top: 1px solid $dark-pink;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
